@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.banner {
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    min-height: 200px;
    margin: 7px 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
}

.banner p {
    font-weight: 300;
    font-size: 1.5em;
}

.banner h1 {
    margin: 5px;
    font: 600 2.5em "Roboto", sans-serif;
}


.productHeading {
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 2px;
    margin: 5px auto;
    color: #353b41;
}


.container {
    display: flex;
    margin: 3px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}